.textcenter{
    text-align: center;
}

.textleft{
    text-align: left;
}

.textright{
    text-align: right;
}

.borderbottom{
    border-bottom: 1px solid yellow;
}

body{
    background-color: salmon;
}

h1{
    color: black;
}

h2{
    color: black;
}

h3{
    color: black;
}

h4{
    color: black;
}

h5{
    color: black;
}

h6{
    color: black;
}

p{
    color: black;
}

ul {
    color: black;
}

ol{
    color:black;
}

button{
    color:black;
}


a{
    border-bottom: 1px solid blue;
}

footer{
    color: black;
}


header{
    color: black;   
}



div{
    border: 1px solid black;
}



